*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body, header,main{
    font-family: Arial, Helvetica, sans-serif
}


img:hover{
    opacity: 1;
    border: solid 2px white;
}

.btn{
    margin: 0 auto;
    justify-content: center;
    display: grid;
}
.form1{
    transition: all 2s;
    width: 22%;
    height: 10%;
    margin: 0 auto;
}

.form2{
    transition: all 2s;
    width: 22%;
    height: 10%;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content:space-between;
    overflow:auto

}


.form1:hover{
    transform: scale(1.1, 1.1);

}

.form2:hover{
    transform: scale(1.1, 1.1);
}



